annotated-types==0.7.0
pydantic==2.12.3
pydantic_core==2.41.4
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.14
ruamel.yaml.string==0.1.1
tomlkit==0.13.3
typing-inspection==0.4.2
typing_extensions==4.15.0
